<html>
    <head>
        <title>department list</title>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1 align="center">department list</h1>
            <table align="center" border="1">
                <tr>
                    <td align="center">Name</td>
                    <td align="center">Parent</td>
                    <td align="center">Address</td>
                    <td align="center">Memo</td>
                </tr>
                <tr>
                    <td align="center">technology department</td>
                    <td align="center">baldurtech</td>
                    <td align="center">beizhang</td>
                    <td align="center">Memo</td>
                </tr>
                <tr>
                    <td align="center">technology department</td>
                    <td align="center">baldurtech</td>
                    <td align="center">beizhang</td>
                    <td align="center">Memo</td>
                </tr>
                <tr>
                    <td align="center">technology department</td>
                    <td align="center">baldurtech</td>
                    <td align="center">beizhang</td>
                    <td align="center">Memo</td>
                </tr>
            </table>
        </div>
    </body>
</html>