<html>
    <head>
        <title>Contact List</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    <body>
    <div class="container">
        <h1 align="center">ContactList</h1>
        <table align="center" border="1">
            <tr>
                <td th:text="name"></td>
                <td th:text="Mobile"></td>
                <td th:text="Vpmn"></td>
                <td th:text="Address"></td>
            </tr>
            <tr>
                <td th:text="shihang"></td>
                <td th:text="15235432994"></td>
                <td th:text="652994"></td>
                <td th:text="taiyuan"></td>
            </tr>
            <tr>
                <td th:text="shihang"></td>
                <td th:text="15235432994"></td>
                <td th:text="652994"></td>
                <td th:text="taiyuan"></td>
            </tr>
            <tr>
                <td th:text="shihang"></td>
                <td th:text="15235432994"></td>
                <td th:text="652994"></td>
                <td th:text="taiyuan"></td>
            </tr>
        </table>
    </div>
    </body>
</html>