<html lang="en-US">
    <head>
        <title>contact list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1 align="center">ContactList</h1>
            <h1 align="center" th:text="${contactList}"></h1>
            <table align="center" border="1">
                <tr>
                    <td align="center">Name</td>
                    <td align="center">Mobile</td>
                    <td align="center">Vpmn</td>
                    <td align="center">Address</td>
                </tr>
                <tr>
                    <td>ShiHang</td>
                    <td>15235432994</td>
                    <td>654229</td>
                    <td>TaiYuan</td>
                </tr>
                <tr>
                    <td>ShiHang</td>
                    <td>15235432994</td>
                    <td>654229</td>
                    <td>TaiYuan</td>
                </tr>
                <tr>
                    <td>ShiHang</td>
                    <td>15235432994</td>
                    <td>654229</td>
                    <td>TaiYuan</td>
                </tr>
                <tr>
                    <td>ShiHang</td>
                    <td>15235432994</td>
                    <td>654229</td>
                    <td>TaiYuan</td>
                </tr>
            </table>
        </div>
    </body>
</html>