<!DOCTYPE html>
<html>
    <head>
        <title>ContactList</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1 align="center">contact List</h1>
            <table border="1" align="center">
                <tr>
                    <td>Name</td>
                    <td>Mobile</td>
                    <td>Vpmn</td>
                    <td>HomeAddress</td>
                </tr>
                <tr th:each="contact : ${contactList}">
                    <td th:text="${contact.name}">Xiao Bai</td>
                    <td th:text="${contact.mobile}">18234105437</td>
                    <td th:text="${contact.vpmn}">62222</td>
                    <td th:text="${contact.homeAddress}">TaiYuan</td>
                </tr>
            </table>
        </div>
    </body>
</html>