<!DOCTYPE html>
<html>
    <head>
        <title>ContactList</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1 align="center">Contact Show</h1>
            <table border="1" align="center">
                <tr>
                    <td>Name:</td>
                    <td th:text="${contact.name}"></td>
                </tr>
                <tr>
                    <td>Mobile:</td>
                    <td th:text="${contact.mobile}"></td>
                </tr>
                <tr>
                    <td>Vpmn:</td>
                    <td th:text="${contact.vpmn}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${contact.email}"></td>
                </tr>
                <tr>
                    <td>HomeAddress:</td>
                    <td th:text="${contact.homeAddress}"></td>
                </tr>
                <tr>
                    <td>OfficeAddress:</td>
                    <td th:text="${contact.officeAddress}"></td>
                </tr>
                <tr>
                    <td>Job:</td>
                    <td th:text="${contact.job}"></td>
                </tr>
                <tr>
                    <td>JobLevel:</td>
                    <td th:text="${contact.jobLevel}"></td>
                </tr>
                <tr>
                    <td>Memo:</td>
                    <td th:text="${contact.memo}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><a th:href="@{list}" th:text="Return"></a></td>
                </tr>
            </table>
        </div>
    </body>
</html>