<html>
    <head>
        <title>contact update</title>
    </head>
    <body>
        <h1 align="center">Update</h1>
        <form th:action="update" method="POST">
            <table align="center" border="1">
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" th:value="${contact.name}"/></td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td><input type="text" name="mobile" th:value="${contact.mobile}"/></td>
                </tr>
                <tr>
                    <td>Vpmn</td>
                    <td><input type="text" name="vpmn" th:value="${contact.vpmn}"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" th:value="${contact.email}"/></td>
                </tr>
                <tr>
                    <td>HomeAddress</td>
                    <td><input type="text" name="homeAddress" th:value="${contact.homeAddress}"/></td>
                </tr>
                <tr>
                    <td>OfficeAddress</td>
                    <td><input type="text" name="officeAddress" th:value="${contact.officeAddress}"/></td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td><input type="text" name="job" th:value="${contact.job}"/></td>
                </tr>
                <tr>
                    <td>JobLevel</td>
                    <td><input type="text" name="jobLevel" th:value="${contact.jobLevel}"/></td>
                </tr>
                <tr>
                    <td>Memo</td>
                    <td><input type="text" name="memo" th:value="${contact.memo}"/></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><input type="submit" name="action" th:value="update"/></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><a th:href="@{list}" th:text="return"></a></td>
                </tr>
            </table>
        </form>
    </body>
</html>